{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="assets/style.css">
{% endblock %}

{% block content %}
    <div class="center">
        <h1 class="main_capture">Your short is ready!</h1>
        <div class="copy_box">
            <span id="short_address" class="secondary clickable">loading...</span>
            <span id="short_field" class="clickable">/{{ short }}</span>
        </div>
    </div>
    
    <script>
        const copybox = document.querySelector(".copy_box");
        const shortAddress = document.querySelector("#short_address");
        const shortField = document.querySelector("#short_field");

        shortAddress.innerText = window.location.origin;
        copybox.addEventListener("click", () => navigator.clipboard.writeText(shortAddress.innerText + shortField.innerText));
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy(copybox, {
            content: "copied!",
            trigger: 'click',
        });
    </script>
{% endblock %}